@import "../../scss/vars.scss";

.Scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 10px;
    z-index: 9999;
    transform-origin: top;
    background-color: $primaryColor;

    &:hover {
        background-color: $primaryColorHover;
    }
}